/* GENERAL & LAYOUT */
body {
    background-color: #7DC2AF;
    font-family: 'RocknRoll One', sans-serif;
    color: black;
    margin: 0;
}

div.content {
    padding: 1em;
}

a:link, a:visited {
    margin: 1em;
    text-decoration: none;
    color:black;
}

a:hover {
    color: dimgrey;
}

/* HEADER */
header {
    background-color: white;
    color: #E27D5F;
}

div.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}

img#logo {
    height: 150px;
    width: 150px;
}

a.nav:link, a.nav:visited {
    margin: 1em;
    text-decoration: none;
    color: #E27D5F;
}

a.nav:hover {
    color: black;
}

/* FORMS GENERAL */
input,
select {
    width: 200px;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid dimgrey;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 150px;
    background-color: #E27D5F;
    color: white;
    font-size: 16px;
    padding: 20px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: black;
}

/* LOGIN */
div.app-login {
    margin: auto;
    width: 400px;
}

form.app-login {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 16px;
}

label.app-login,
button.app-login {
    grid-column: 1 / 2;
    padding: 0.5em 0.5em 0.5em 0;
}

input.app-login,
label#app-login-checkbox,
a#app-login-forgot {
    grid-column: 2 / 3;
}

/* REGISTRATION FORM */
form.app-register {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 16px;
}

/* EVENT FORM */
form.app-event {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.app-event-s1 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 60px;
    grid-column-gap: 25px;
}

label#app-event-desc {
    grid-row: span 2;
}

textarea#new_event_description {
    grid-row: span 2;
}

div.app-event-s2 {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-auto-rows: 60px;
    grid-column-gap: 25px;
}

div.app-event-s3 {
    grid-column: span 2;
}

button.app-event-bt {
    margin: 2em;
}

label.app-event {
    padding: 1em 1em 1em 0;
}

/* TABLES */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    padding: 10px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color:  #40B3A2;
    color: black;
}