{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <a class="nav" href="{{ path('app_register') }}"><button class="nav-user-admin">Register User</button></a>
    <a class="nav" href="{{ path('user_register_csv') }}"><button class="nav-user-admin">Register Users (CSV)</button></a>
    <a class="nav" href="{{ path('user_manage') }}"><button class="nav-user-admin">Manage</button></a>

{% endblock %}
