{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block content %}
    <h3>Edit Campus</h3>
    <table class="app-main" id="app-campus-table">
        <tr>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
        {% for campus in campusList %}
            <tr>
                <td>{{ campus.name }}</td>
                <td><a href="">Edit</a>
                    <span class="app-nav" onclick="removeCampus(event)">Remove</span></td>
            </tr>
        {% endfor %}
        <tr id="app-js-new">
            <td><input id="app-js-campus-name" type="text"/></td>
            <td><button onclick="addCampus()">Add</button></td>
        </tr>
    </table>
    <a href="{{ path('home') }}"><button>Back</button></a>

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('edit_event') }}
    {% endblock %}

{% endblock %}
