{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    <h3>Register a group of users:</h3>
    <div>
        <a href="{{ path('user_csv_upload') }}"><button class="nav-user-admin">Register with CSV</button></a>
    </div>

{% endblock %}
