{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    <a class="nav" href="{{ path('app_register') }}"><button>Register</button></a>
    <a class="nav" href="{{ path('user_manage') }}"><button>Manage</button></a>
    <a class="nav" href=""><button>EXTRA</button></a>

{% endblock %}
