{% extends 'base.html.twig' %}

{% block title %}Manage User{% endblock %}

{% block content %}
    <p>Manage Users</p>
    <table class="app-main">
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        {% for user in userList %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.name }} {{ user.lastName }}</td>
                <td>SUSPEND DELETE</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('home') }}"><button>Back</button></a>
{% endblock %}