{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <p id="app-flash-message"></p>

    <h3>Register a group of users:</h3>
    <form method="POST" action="{{ path('csv_upload') }}" enctype="multipart/form-data">
        <div>
            <label for="app-csv">User details file (csv):</label>
            <input id="app-csv" type="file" name="csv">
        </div>
        <div>
            <button type="submit" class="nav-user-admin">Register with CSV</button>
            <a href="{{ path ('admin_user') }}">
                <button type="button">Cancel</button>
            </a>
        </div>
    </form>

{% endblock %}
